@import "../../responsive.scss";

.layout {
  height: 100vh;
  width: 100%;
  // max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;

  @include lg {
    max-width: 1280px;
  }

  @include md {
    width: 95%;
    max-width: 768px;
  }

  @include sm {
    max-width: 640px;
    padding: 0 10px;
  }

  .content {
    height: calc(100vh - 80px);
    overflow-y: auto;

    @include sm {
      height: calc(100vh - 60px);
    }
  }
}





